@model cantonesedict.uimoe.com.ViewModels.Home.CantoneseTestVM
@{
    Layout = "~/Views/Shared/_WithBottomAppBarLayout.cshtml";
}

<div>
    <div class="hd">
        <h1 class="page_title">得分：<span id="scoresp">0</span></h1>
        <p class="page_desc"></p>
    </div>
    <div class="bd">
        @if (Model.Items == null || Model.Items.Count == 0)
        {
            <div class="weui_cells weui_cells_access">
                <a href="javascript:void(0);" class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>
                            额，出错了，没找到试题。
                        </p>
                    </div>
                    <div class="weui_cell_ft">
                    </div>
                </a>
            </div>
        }
        else
        {
            for (var i = 0; i < Model.Items.Count; i++)
            {
                var item = Model.Items[i];
                var idisplay = "display:none;";
                if (i == 0)
                {
                    idisplay = "";
                }

                <div id="testitem@(i)" style="@idisplay">
                    <div class="weui_cells weui_cells_access">
                        <a href="javascript:void(0);" class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>
                                    @item.Title
                                </p>
                            </div>
                            <div class="weui_cell_ft">
                            </div>
                        </a>
                    </div>

                    @if (item.Options == null && item.Options.Count == 0)
                    {
                        <div class="weui_cells weui_cells_access">
                            <a href="javascript:void(0);" class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>
                                        额，出错了，这题没有选项。
                                    </p>
                                </div>
                                <div class="weui_cell_ft">
                                </div>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="weui_cells weui_cells_access">
                            @for (var k = 0; k < item.Options.Count; k++)
                            {
                                var op = item.Options[k];
                                <a href="javascript:void(0);" onclick="changeitem(this,'@op.InnerValue','@i')" class="weui_cell">
                                    <div class="weui_cell_bd weui_cell_primary">
                                        <p>
                                            @op.DisplayText
                                        </p>
                                    </div>
                                    <div class="weui_cell_ft">
                                    </div>
                                </a>
                            }
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>

<script src="@Url.Content("~/Assets/jweixin-1.0.0.js")"></script>
<script type="text/javascript">
    window.onload = function () {
        showhighlight("appbaritem3");
    }

    var score = 0;

    function changeitem(sender, ivalue, i) {
        var url = '@Url.Content("~/Home/Discovery")';

        i = parseInt(i);
        ivalue = parseInt(ivalue);

        if (ivalue > 0) {
            score += ivalue;
        }

        $("#scoresp").html(score);

        var next = i + 1;
        var testitem = document.getElementById("testitem" + next);
        if (!testitem) {
            weuialert("您的得分：" + score, "测试已完成~", function () {
                window.location.href = url;
            });
            return;
        }

        $("#testitem" + i).hide();
        $("#testitem" + next).show();
    }
</script>
