@model IEnumerable<Agile.API.Dtos.H10038ResponseListItem>
@{
    Layout = "~/Views/Shared/_WithBottomAppBarLayout.cshtml";
}

<div class="weui_tab_bd">
    <div class="weui_cells weui_cells_access">
        @if (Model == null || Model.Count() == 0)
        {
            <a href="javascript:void(0);" class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>未找到相关记录</p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
        }
        else
        {
            foreach (var item in Model)
            {
                <a href="javascript:void(0);" class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>
                            <div>[普]&nbsp;<span>@item.chntext</span></div>
                            <div>[粤]&nbsp;<span>@item.cantext</span></div>
                            <div>[音]&nbsp;<span>@item.canpronounce</span></div>
                        </p>
                    </div>
                    <div class="weui_cell_ft">
                        <img onclick="play(this,'@item.canpronounce','')" src="@Url.Content("~/Assets/Images/voice.gif")" />
                    </div>
                </a>
            }
        }
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        showhighlight("appbaritem2");
    }
</script>