@model cantonesedict.uimoe.com.ViewModels.Home.VocabularyVM
@{
    Layout = "~/Views/Shared/_WithBottomAppBarLayout.cshtml";
}

<div class="weui_tab_bd">
    <div class="weui_btn_area">
        <a href="@Url.Content("~/Home/Term")" class="weui_btn weui_btn_primary">换一批</a>
    </div>
    <div class="weui_cells weui_cells_access">
        @if (Model.Data == null || Model.Data.Count() == 0)
        {
            <a href="javascript:void(0)" class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>没有找到相关记录哦</p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
        }
        else
        {
            foreach (var item in Model.Data)
            {
                <a href="javascript:void(0)" class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>
                            <div>【普】<span>@item.ChnText</span></div>
                            <div class="newline5"></div>
                            <div>【粤】<span>@item.CanText</span></div>
                            <div class="newline5"></div>
                            <div>【音】<span>@item.CanPronounce</span></div>
                        </p>
                    </div>
                    <div class="weui_cell_ft">
                    </div>
                </a>
            }
        }
    </div>
    <div class="weui_btn_area">
        <a href="@Url.Content("~/Home/Term")" class="weui_btn weui_btn_primary">换一批</a>
    </div>
</div>



<script type="text/javascript">
    window.onload = function () {
        showhighlight("appbaritem2");
    }
</script>
