@model cantonesedict.uimoe.com.ViewModels.Reimu.StatisticsVM
@{
    ViewBag.Title = "统计";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .ul {
        list-style: none;
    }

        .ul li {
            display: inline;
            float: left;
            width: 200px;
            height: 120px;
            line-height: 120px;
            background-color: #f0fff0;
            border: 1px dotted #22b14c;
            margin-right: 10px;
            margin-bottom: 10px;
            text-align: center;
        }

            .ul li:hover {
                background-color: #e0ffe0;
                cursor: pointer;
            }
</style>

<div style="padding:10px;color:#22b14c;">
    <div>今日：<span>@Model.now</span></div>
    <div style="height:10px;width:100%;"></div>
    <ul class="ul">
        <li onclick="top.loadview(this,'@Url.Content("~/Reimu/Vocabulary")')">字：<span>@Model.wordcount</span>个</li>
        <li onclick="top.loadview(this,'@Url.Content("~/Reimu/Vocabulary")')">词：<span>@Model.termcount</span>个</li>
        <li onclick="top.loadview(this,'@Url.Content("~/Reimu/Vocabulary")')">句：<span>@Model.sentencecount</span>个</li>
        <li onclick="top.loadview(this,'@Url.Content("~/Reimu/UserList")')">用户：<span>@Model.usercount</span>个</li>
        <li onclick="top.loadview(this,'@Url.Content("~/Reimu/Feedback")')">今日反馈：<span>@Model.feedbackcount</span>个</li>
        <li onclick="top.loadview(this,'@Url.Content("~/Reimu/NoResult")')">无结果：<span>@Model.noresultcount</span>个</li>
    </ul>
    <div style="clear:left;"></div>
</div>
