@{
    ViewBag.Title = "粤语词典";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .weui_bar_item_on {
        background-color: #e7e7e7;
    }

    .weui_bar_item_on2 {
        background-color: #99d9ea;
    }

    .bubbly-left {
        position: relative;
        max-width: 200px;
        padding: 10px;
        background: #22b14c;
        border-radius: 5px;
        float: left;
        margin-left: 16px;
        margin-bottom: 16px;
        color: #fff;
    }

        .bubbly-left:before {
            content: '';
            position: absolute;
            top: 5px;
            left: -16px;
            width: 0;
            height: 0;
            font-size: 0;
            border: solid 8px;
            border-color: transparent #22b14c transparent transparent;
        }

    .bubbly-right {
        position: relative;
        max-width: 200px;
        padding: 10px;
        background: #00a2e8;
        border-radius: 5px;
        float: right;
        margin-right: 16px;
        margin-bottom: 16px;
        color: #fff;
    }

        .bubbly-right:after {
            content: '';
            position: absolute;
            top: 5px;
            right: -16px;
            width: 0;
            height: 0;
            font-size: 0;
            border: solid 8px;
            border-color: transparent transparent transparent #00a2e8;
        }
</style>

<div class="weui_tab">
    <div class="weui_tab_bd">
        <div id="usercontroldiv1">
            @RenderBody()
        </div>
    </div>
    <div class="weui_tabbar">
        <a id="appbaritem1" class="weui_tabbar_item" href="@Url.Content("~/Home/Index")">
            <div class="weui_tabbar_icon">
                <img alt="" src="@Url.Content("~/Assets/icon_nav_search_bar.png")">
            </div>
            <p class="weui_tabbar_label">查询</p>
        </a>
        <a class="weui_tabbar_item" id="voicea" href="javascript:void(0);" onmousedown="voicemousedown(this)" onmouseup="voicemouseup(this)">
            <div class="weui_tabbar_icon">
                <img style="width:100%;" src="@Url.Content("~/Assets/Images/ting.jpg")" />
            </div>
            <p class="weui_tabbar_label">长按说话后松开</p>
        </a>
        <a id="appbaritem2" class="weui_tabbar_item" href="@Url.Content("~/Home/Scene")">
            <div class="weui_tabbar_icon">
                <img alt="" src="@Url.Content("~/Assets/icon_nav_tab.png")">
            </div>
            <p class="weui_tabbar_label">词库</p>
        </a>
    </div>
</div>

<div id="playerdiv1" style="display:none;">
    <audio id="player1" src="#" controls="controls"></audio>
</div>

<div style="display: none;" id="dialog1" class="weui_dialog_confirm">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">弹窗标题</strong></div>
        <div class="weui_dialog_bd">自定义弹窗内容，居左对齐显示，告知需要确认的信息等</div>
        <div class="weui_dialog_ft">
            <a class="weui_btn_dialog default" href="javascript:;">取消</a>
            <a class="weui_btn_dialog primary" href="javascript:;">确定</a>
        </div>
    </div>
</div>
<div style="display: none;" id="dialog2" class="weui_dialog_alert">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">弹窗标题</strong></div>
        <div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
        <div class="weui_dialog_ft">
            <a class="weui_btn_dialog primary" href="javascript:void(0);" onclick="weuialertreset()">确定</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    function showhighlight(id) {
        $("#" + id).addClass("weui_bar_item_on");
    }

    function start(callback) {
        callback(null);
    }

    var timer1 = null;
    var cnt = 0;
    function voicemousedown(sender) {
        $("#voicea").addClass("weui_bar_item_on2");
        timer1 = setInterval(function () {
            cnt += 1;
        }, 100);
    }

    function voicemouseup(sender) {
        if (cnt > 10) {
            start(function (input) {
                var voicea = document.getElementById("voicea");
                if (!input) {
                    showvoice(voicea, null, null);
                    return;
                }

                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/Home/GetIndex")',
                    complete: function (xhr, status) {
                        if (status != "success") {
                            showvoice(voicea, input, null);
                            return;
                        }

                        var response = {};
                        try {
                            response = JSON.parse(xhr.responseText);
                        }
                        catch (e) {

                        }

                        showvoice(voicea, input, input);
                    }
                });
            });
        }

        cnt = 0;
        clearInterval(timer1);
        $("#voicea").removeClass("weui_bar_item_on2");
    }

    function showvoice(sender, rtext, ltext) {
        var show = $(sender).attr("data-show");
        if (!show) {
            $(sender).attr("data-show", "true");
            $("#usercontroldiv1").html("");
        }

        var sb = '';
        if (!rtext) {
            rtext = "抱歉，未识别你的语音输入";
            sb += '<div class="bubbly-right">' + rtext + '</div><div style="clear:right;"></div>';
        }
        else {
            sb += '<div class="bubbly-right">' + rtext + '</div><div style="clear:right;"></div>';
            if (!ltext) {
                ltext = "抱歉，未找到相关结果";
            }

            sb += '<div class="bubbly-left">' + ltext + '</div><div style="clear:left;"></div>';
        }

        $("#usercontroldiv1").append(sb);
        $("#usercontroldiv1").scrollTop(document.getElementById("usercontroldiv1").scrollHeight);
    }

    function play(pronounce, voice) {
        var urls = [];
        if (voice) {
            url.push(voice);
        }
        else {
            var parts = pronounce.split(' ');
            for (var i = 0; i < parts.length; i++) {
                var url = 'http://www.yueyv.cn/index_url.asp?sound=' + parts[i];
                urls.push(url);
            }
        }

        var idx = 0;
        var player1 = document.getElementById("player1");
        player1.onplay = function () {
            idx += 1;
        };
        player1.onended = function () {
            if (idx < urls.length - 1) {
                player1.src = urls[idx];
                try {
                    player1.play();
                }
                catch (e) {
                    weuialert("播放音频失败");
                }
            }
        };

        player1.src = urls[0];
        try {
            player1.play();
        }
        catch (e) {
            weuialert("播放音频失败");
        }
    }

    function weuialert(message, title, callback) {
        if (!title) {
            title = "提示";
        }

        if (!message) {
            message = "并没有什么提示→_→";
        }

        $("#dialog2 .weui_dialog_hd").html(title);
        $("#dialog2 .weui_dialog_bd").html(message);
        $("#dialog2").show();

        weuialertcallback = callback;
    }

    var weuialertcallback = null;

    function weuialertreset() {
        $("#dialog2").hide();
        if (weuialertcallback != null && typeof (weuialertcallback) == "function") {
            weuialertcallback();
            weuialertcallback = null;
        }
    }
</script>
@RenderSection("scripts", required: false)