@model Agile.API.Dtos.H10053Response
@{
    Layout = "~/Views/Shared/_WithBottomAppBarLayout.cshtml";
}

<div class="hd">
    <h1 class="page_title">查询无结果管理</h1>
    <p class="page_desc">普通话</p>
</div>
<div class="bd">
    @if (Model.data.RecordList.Any())
    {
        <div class="weui_cells weui_cells_access">
            <a href="javascript:void(0);" class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>第<span>@Model.data.Page</span>/<span>@Model.data.PageCount</span>页，共<span>@Model.data.RecordCount</span>条记录</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>

            @if (Model.data.Page > 1)
            {
                <a href="@Url.Content("~/User/NoResultList?page=" + (Model.data.Page - 1) + "&pagesize=" + Model.data.PageSize)" class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>上一页</p>
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
            }

            @if (Model.data.Page < Model.data.PageCount)
            {
                <a href="@Url.Content("~/User/NoResultList?page=" + (Model.data.Page + 1) + "&pagesize=" + Model.data.PageSize)" class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>下一页</p>
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
            }
        </div>
    }

    <div class="weui_cells weui_cells_access">
        @if (Model.data.RecordList.Any())
        {
            foreach (var item in Model.data.RecordList)
            {
                <div href="javascript:void(0);" class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>
                            <div>[普]<span>@item.chntext</span></div>
                            <div><a href="javascript:void(0);" onclick="view.pass(this,'@item.chntext')">处理</a></div>
                        </p>
                    </div>
                    <div class="weui_cell_ft">
                    </div>
                </div>
            }
        }
        else
        {
            <a href="javascript:void(0);" class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>
                        没有查询到相关记录
                    </p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
        }
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        showhighlight("appbaritem4");
    }

    var view = {
        pass: function (sender, chntext) {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/User/DeleteNoResult")',
                data: { chntext:chntext },
                complete: function (xhr, status) {
                    var response = {};

                    try {
                        response = JSON.parse(xhr.responseText);
                    }
                    catch (e) {

                    }

                    if (!response || response.error != 0) {
                        var message = "操作失败，请稍后重试";
                        if (response.message) {
                            message = response.message;
                        }

                        weuialert(message);
                        return;
                    }

                    $(sender).parent().parent().html("");
                }
            });
        }
    };
</script>