@model Agile.API.Dtos.H10044Response
@{
    Layout = "~/Views/Shared/_WithBottomAppBarLayout.cshtml";
}

<div class="hd">
    <h1 class="page_title">权限管理</h1>
    <p class="page_desc">权限名称</p>
</div>
<div class="bd">
    <div class="weui_cells weui_cells_access">
        <a href="javascript:void(0);" class="weui_cell" onclick="view.add(this)">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    新增权限
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
    </div>
    <div class="weui_cells weui_cells_access">
        @if (Model.data.Any())
            {
                foreach (var item in Model.data)
                {
                <div href="javascript:void(0);" class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>
                            <div><span>@item.name</span></div>
                            <div><span>@item.rawurl</span></div>
                            <div><a href="javascript:void(0);" onclick="view.del(this,'@item.rawurl')">删除</a></div>
                        </p>
                    </div>
                    <div class="weui_cell_ft">
                    </div>
                </div>
            }
        }
        else
        {
            <a href="javascript:void(0);" class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>
                        没有查询到相关记录
                    </p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
        }
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        showhighlight("appbaritem4");
    }

    var view = {
        add: function (sender) {
            window.location.href = '@Url.Content("~/User/AddPermission")';
        },
        del: function (sender, rawurl) {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/User/DeletePermission")',
                data: { rawurl: rawurl },
                complete: function (xhr, status) {
                    var response = {};

                    try {
                        response = JSON.parse(xhr.responseText);
                    }
                    catch (e) {

                    }

                    if (!response || response.error != 0) {
                        var message = "操作失败，请稍后重试";
                        if (response.message) {
                            message = response.message;
                        }

                        weuialert(message);
                        return;
                    }

                    $(sender).parent().parent().html("");
                }
            });
        }
    };
</script>