@model haha.uimoe.com.ViewModels.User.NewListVM
@{
    Layout = null;
}

@if (Model.data.Any())
{
    foreach (var item in Model.data)
    {
        <div class="listitem">
            <div style="padding:5px;"><span style="color:#22b14c;">@item.postedby</span>&nbsp;发表于&nbsp;<span>@item.postedat</span></div>
            <div style="padding-left:5px;padding-right:5px;padding-top:0;padding-bottom:15px;">@item.content</div>
            @if (!string.IsNullOrEmpty(item.pictureurl))
            {
                <div style="padding-left:5px;padding-right:5px;padding-top:0;padding-bottom:15px;"><img src="@item.pictureurl" onclick="view.image.show(this)" /></div>
            }
            <div style="height:5px;width:100%;"></div>
            <div style="height:1px;background-color:#d5d5d5;"></div>
            <div style="height:5px;width:100%;"></div>
            <div style="display:flex;">
                <div style="flex:1;text-align:center;border-right:1px solid #d5d5d5;">赞<span>@item.goodcount</span></div>
                <div style="flex:1;text-align:center;border-right:1px solid #d5d5d5;">踩<span>@item.badcount</span></div>
                <div style="flex:1;text-align:center;">评论<span>@item.commentcount</span></div>
            </div>
            <div style="height:5px;width:100%;"></div>
        </div>
    }
}
else
{
    <div class="listitem">
        <div style="height:5px;width:100%;"></div>
        <div>什么都没有呢</div>
        <div style="height:5px;width:100%;"></div>
    </div>
}

