@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderSection("styles", required: false)
<style type="text/css">
    .loading {
        background: url(@Url.Content("~/Assets/loading.gif"));
        display: inline-block;
        height: 15px;
        width: 15px;
    }
</style>

<nav class="navbar navbar-default">
    <div style="width:1025px;margin:0 auto;">
        <div style="float:left;">
            <a class="navbar-brand" href="@Url.Content("~/Home/Index")">NASA图片精选</a>
        </div>
        <div style="float:right;">
            <a class="navbar-brand" target="_blank" href="@Url.Content("~/Home/PostImg")">投稿</a>
            <a class="navbar-brand" target="_blank" href="http://weibo.com/ssitmo">微博</a>
        </div>
        <div style="clear:both;"></div>
    </div>
</nav>

<div style="width:1025px;margin:0 auto;">
    @RenderBody()
</div>

@RenderSection("scripts", required: false)
